#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cards {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
    height: 330px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    text-align: center; 
}

.card-image {

    width: 400px; 
    margin-left: -4rem;
    height: auto; 
    transition: transform 0.3s ease, filter 0.3s ease;
}

.card-title {
    text-align: center;
    background-color: #F0F0F0;
    padding: 15px;
    border-radius: 50px;
}

.card-overlay {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.card-overlay:hover .card-image {
    filter: brightness(20%);
    transform: scale(1.1);
}

.card-overlay:hover .card-text {
    opacity: 1;
}


@media screen and (max-width: 1170px) {
    #cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
} 